.dashboard{
    display: flex;
}
.sidebar {
    width: 15%;
    height: 100vh;
    background-color:#343a40;
    position: fixed;
    left: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
}
.main-content {
    width: 85%;
    position: absolute;
    right: 0;
    height: 100vh;
}


/* Header */
.dashboad-navbar {
    background-color: #fff !important;
    border-bottom: 1px solid #ddd;
    padding: 3px 0px;
}
.dashboad-navbar .navbar-brand {
    color: #66615B;
    font-size: 20px;
    font-weight: 400;
    font-family: Montserrat;
}
.admin-header-logout-btn {
    border-radius: 50px;
    padding: 5px 25px;
    font-weight: 500;
    border: 2px solid #ddd;
    color: #66615B;
    text-decoration: none;
}


/* Sidebar */
.sidebar-content h2 {
    text-align: center;
}
.sidebar-content h2 a {
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 30px;
    margin-top: 10px;
}
.sidebar-content ul{
    padding: 0;
}
.sidebar-content ul li {
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: end;
    border-radius:5px;
    margin-bottom: 3px;
}
.sidebar-content ul li svg {
    font-size: 17px;
    color: #c1c1c1;
    margin: 0px 10px 0px 0px;
}
.sidebar-content ul li a {
    color: #fff;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
}
.sidebarMenuList
{
    /* padding: 0px 30px !important; */
    padding-left: 15px !important;
    padding-right: 10px !important;
}
.dropdown-menu[data-bs-popper]
{
    right: 10px !important;
    left: auto !important;
}
.sidebarMenuList li:hover {
   background-color: rgba(255,255,255,.1);
}
.sidebarMenuList li.active
{
    background-color:rgba(255,255,255,.1);
}
.headerBar
{
    box-shadow: 0 0px 15px rgba(0,0,0,.25),0 0px 1px rgba(0,0,0,.22)!important;
}