.agentLeads .proposal-list-card.active {
    border: 3px solid #ff8651;
    border-radius: 10px;
}
.agentLeads .proposal-list-card {    
    border-radius: 10px;
    border: 3px solid transparent;
}
.dataTableHeader {
    background-color:unset !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px !important;
    margin: 30px 0px 0px 0px;
}