/* Header CSS */
.singlepost-navbar-Container {
    background: #FF6C2C;
    padding: 0px 0px 75px 0px;
}
/* .singlepost-navbar{
    box-shadow: 0px 0px;
}
.singlepost-nav-logo{
    font-size: 25px;
    font-weight: 800;
    color: #fff;
}
.singlepost-nav-logo:hover{
    color: #fff;
} */
.breadcrumb ul{
    padding: 0px;
    display: inline-flex;
    position: relative;
}
.breadcrumb ul li a{
    color: #fff !important;
    text-decoration: none;
    font-weight: 500;
}
.breadcrumb ul li{
    color: #fff !important;
    text-decoration: none;
    list-style: none;
    padding: 0px 0px 0px 0px;
}
.breadcrumb ul li svg{
    margin: 0px 10px;
}
.header-heading h2{
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}
.header-search {
    display: flex;
    position: relative;
}
.header-search input{
    padding: 12px;
    border-radius: 50px;
}
.header-search a {
    border-radius: 50px;
    width: 200px;
    position: absolute;
    top: 2px;
    right: 2px;
    height: 52px;
    background: linear-gradient(180deg,#f57f17 0,#f27e17 100%);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.header-search a:hover{
    color: #fff;
    background: linear-gradient(180deg,rgb(250, 148, 59) 0,rgb(250, 148, 59) 100%);
}
.header-search a svg{
    width: 25px;
    height: 25px;
}
/* Header CSS End */


.singlepost-second-section {
    background-color: #f7faff;
    padding: 45px 0px 25px 0px;
}
.singlepost-second-section h1 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #3f4650;
    opacity: .87;
}


.singlepost-third-section{
    background-color: #f7faff;
    padding: 80px 0px 0px 0px;
}
.agent-heading h2{
    font-size: 25px;
    color: #4b5c75;
    font-weight: 800;
    opacity: .87;
}
.agent-table-container{
    margin: 40px 0px 0px 0px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 8px 2px rgb(219 219 219);
    align-items: center;
}
.agent-table {
    padding: 20px 0px;
}
.agent-table img{
    width: 100%;
}
.agent-table-content h4 {
    color: #3f4650;
    font-size: 20px;
    font-weight: 700;
    opacity: .87;
}
.agent-table-content p {
    color: #4b5c75;
    font-size: 15px;
    font-weight: 500;
    opacity: .87;
}

.agent-table-content button {
    border-radius: 50px;
    border-color: #ffd0bc;
    color: #FF6C2C;
    font-weight: 700;
    font-size: 15px;
    padding: 5px 15px;
}
.agent-table-content button:hover{
    background: none;
    border-color: #FF6C2C;
    color: #FF6C2C;
}
.agent-second-col h5{
    font-size: 25px;
    font-weight: 800;
    color: #3f4650;
    opacity: .87;
}
.agent-second-col p {
    color: #3f4650;
    opacity: .87;
    font-size: 16px;
    font-weight: 600;
}
.agent-third-col h5{
    font-size: 25px;
    font-weight: 800;
    color: #3f4650;
    opacity: .87;
}
.agent-third-col p {
    color: #3f4650;
    opacity: .87;
    font-size: 16px;
    font-weight: 600;
}


.single-post-fourth-section{
    background-color: #f7faff;
    padding: 80px 0px;
}
.single-post-fourth-section h3{
    color: #3f4650;
    font-weight: 700;
    font-size: 20px;
    opacity: .87;
}
.state-agents ul{
    padding: 0px;
}
.state-agents ul li {
    list-style: none;
    padding: 5px 0px;
    color: #FF6C2C;
}
.singlepost-fifth-section{
    margin: 60px 0px 60px 0px;
    text-align: center;
}
.singlepost-fifth-section svg {
    width: 60px;
    height: 60px;
    color: #FF6C2C;
}
.singlepost-fifth-section h5 {
    font-size: 22px;
    font-weight: 800;
    color: #3f4650;
    opacity: 1;
}
.singlepost-fifth-section p{
    font-size: 21px;
    color: #3f4650;
    opacity: .87;
}


.singlepost-six-section{
    background: #FF6C2C;
    padding: 80px 0px;
}
.singlepost-six-section h3 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin: 0px 0px 25px 0px;
}
.singlepost-six-section h4 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0px 0px 0px;
}
.singlepost-footer-search {
    display: flex;
    position: relative;
    width: 60%;
}
.singlepost-footer-search input{
    padding: 15px;
    border-radius: 50px;
}
.singlepost-footer-search a {
    border-radius: 50px;
    width: 200px;
    position: absolute;
    top: 2px;
    right: 2px;
    height: 52px;
    background: linear-gradient(180deg,#f57f17 0,#f27e17 100%);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.singlepost-footer-search a:hover{
    color: #fff;
    background: linear-gradient(180deg,rgb(250, 148, 59) 0,rgb(250, 148, 59) 100%);
}
.singlepost-footer-search a svg{
    width: 25px;
    height: 25px;
}



@media(max-width: 1224px){
    .header-heading h2 {
        font-size: 35px;
    }
    .singlepost-second-section h1 {
        font-size: 26px;
    }
    .calculation-colunms {
        margin-top: 55px;
    }
    .singlepost-third-section {
        background-color: #f7faff;
        padding: 20px 0px 0px 0px;
    }
    .agent-table {
        padding: 0px 0px;
    }
    .agent-table-content h4 {
        font-size: 14px;
    }
    .agent-table-content p {
        font-size: 12px;
    }
    .agent-second-col h5 {
        font-size: 20px;
    }
    .agent-second-col p {
        font-size: 14px;
    }
    .agent-third-col h5 {
        font-size: 20px;
    }
    .agent-third-col p {
        font-size: 14px;
    }
    .agent-table-content button {
        font-size: 12px;
    }
    .single-post-fourth-section {
        padding: 45px 0px;
    }
    .single-post-fourth-section h3 {
        font-size: 16px;
    }
    .singlepost-fifth-section svg {
        width: 40px;
        height: 40px;
    }
    .singlepost-fifth-section h5 {
        font-size: 20px;
    }
    .singlepost-fifth-section p {
        font-size: 16px;
    }
    .singlepost-fifth-section {
        margin: 35px 0px 35px 0px;
    }
    .singlepost-six-section {
        padding: 35px 0px;
    }
    .singlepost-six-section h3 {
        font-size: 25px;
    }
    .singlepost-six-section h4 {
        font-size: 25px;
    }
}


@media(max-width: 767px){
    .singlepost-navbar-Container {
        padding: 0px 0px 50px 0px;
    }
    .header-heading h2 {
        font-size: 20px;
    }
    .header-search input {
        padding: 5px 10px;
    }
    .header-search a {
        width: 136px;
        height: 44px;
        font-size: 13px;
    }
    .singlepost-second-section h1 {
        font-size: 20px;
    }
    .calculation-colunms {
        margin-top: 35px;
    }
    .agent-table-container {
        margin: 20px 0px 0px 0px;
    }
    .agent-table img {
        width: 50%;
    }
    .agent-table > div > div > :nth-child(1){
        display: flex;
        justify-content: center;
    }
    .agent-table-content h4 {
        font-size: 18px;
        margin: 10px 0px;
        text-align: center;
    }
    .agent-table-content p {
        font-size: 14px;
        text-align: center;
    }
    .agent-table-btn {
        display: flex;
        justify-content: center;
    }
    .agent-second-col h5 {
        text-align: center;
        margin: 10px 0px 0px 0px;
    }
    .agent-second-col p {
        text-align: center;
    }
    .agent-third-col h5 {
        text-align: center;
    }
    .agent-third-col p {
        text-align: center;
    }
    .single-post-fourth-section {
        padding: 35px 0px;
    }
    .single-post-fourth-section h3 {
        font-size: 18px;
        text-align: center;
    }
    .singlepost-six-section h3 {
        font-size: 20px;
    }
    .singlepost-footer-search {
        width: 100%;
    }
    .singlepost-footer-search input {
        padding: 10px;
        border-radius: 50px;
    }
    .singlepost-footer-search a {
        width: 150px;
        height: 42px;
        font-size: 14px;
    }
    .singlepost-six-section h4 {
        font-size: 17px;
    }
}